@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorphism {
  background: rgba(206, 225, 242, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.epp-btn-default {
  width: 150px;
  color: white;
  height: 45px;
  text-align: center;
  background: var(--Color5, #04D9D9);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}